@model SistemaRH3.Models.Vacantes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vacantes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamentos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamentos.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VacanteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
