@model IEnumerable<SistemaRH3.Models.Candidatos>

@if (Model.Count() == 1)
{
    <div id="div1" class="alert alert-success"><strong>Se encontro 1 Departamento</strong></div>
}
else
{
    <div id="div2" class="alert alert-success"><strong>Se encontraron @Model.Count() Departamentos</strong></div>
}

<div class="col-md-12">
    @foreach (var item in Model)
    {

        string src = "";
        if (item.imagen != null)
        {
            src = item.imagen;
        }

        else
        {
            src = Url.Content("~/Content/hombre.png");
        }

        <div class="row">

            <div class="col-md-8">
                <div class="well">
                    <span class="pull-left">
                        <img style="height:100px; width:100px; margin-right:20px;" class="img-circle img-responsive img-center" src="@src" alt="">
                    </span>
                    <strong>Candidato: </strong>@item.nombre @item.apellido
                    <br /><strong>Vacante a la que aplica: </strong>@item.Vacantes.puesto en @item.Vacantes.Departamentos.nombre
                    <br /><strong>Contacto: </strong>@item.telefono -  @item.email
                    @if (item.cv != null)
                    { <br /><strong>Anexo: </strong><a href="@item.cv" target="_blank">Curriculum</a>}
                    <br /><br /><strong>Fecha de aplicacion: </strong>@item.fechaAp

                    <span class="pull-right">
                        <button class="btn btn-sm btn-danger" onclick="deleteProductById(@item.CandidatoID)"><i class="fa fa-trash"></i> Eliminar</button>
                    </span>
                </div>
            </div>

        </div>
    }
</div>