<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema RH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/css/sb-admin.css")" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="@Url.Content("~/Content/css/plugins/morris.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"178e92b1-b00c-465f-ad89-0655538a89f1"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
   @{ 
       SistemaRH3.DAL.GeneralContext db = new SistemaRH3.DAL.GeneralContext();
       string fondo = db.ConfigBackground.OrderByDescending(p => p.id).Select(r => r.fondo).First().ToString();
       string fondo2 = db.ConfigSideBar.OrderByDescending(p => p.id).Select(r => r.fondo).First().ToString();
   }

    <style>
        body{
            
    background: url("@fondo");
        }

        .side-nav{
        background: url("@fondo2");
        }

    </style>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Sistema de Recursos Humanos</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li >
                    <a href="@Url.Action("Index", "Correos")" ><i class="fa fa-envelope"></i> Correos</a>
                    
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "Manage")"><i class="fa fa-fw fa-user"></i> Mi Cuenta</a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesion</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-dashboard"></i> Inicio</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Departamentos")"><i class="fa fa-fw fa-archive"></i> Departamentos</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Empleados")"><i class="fa fa-fw fa-group"></i> Empleados</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Asistencias")"><i class="fa fa-fw fa-calendar"></i> Asistencia</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Vacaciones")"><i class="fa fa-fw fa-sun-o"></i> Vacaciones</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Vacantes")"><i class="fa fa-fw fa-bell"></i> Vacantes</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Candidatos")"><i class="fa fa-fw fa-child"></i> Candidatos</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Interfaz", "Configuracion")"><i class="fa fa-fw fa-gears"></i> Configuracion</a>
                    </li>
                    

                    <li style="margin-top:210px">
                        <a >&copy; 2017 Aneudys Ortiz</a> 
                    </li>
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        <div id="page-wrapper">

            <div class="container-fluid">
                @RenderBody()

            </div>
        </div>

        </div>

        

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
    <!-- jQuery -->
    <script src="@Url.Content("~/content/js/jquery.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/content/js/bootstrap.min.js")"></script>

            <script src="@Url.Content("~/content/js/plugins/morris/raphael.min.js")"></script>
            <script src="@Url.Content("~/content/js/plugins/morris/morris.min.js")"></script>
            <script src="@Url.Content("~/content/js/plugins/morris/morris-data.js")"></script>
            <script src="@Url.Content("~/Scripts/printThis.js")"></script>

</body>
</html>
